timm
lightning
yacs
einops
albumentations
jsonargparse
h5py
matplotlib

# pretrained backbones
transformers==4.48.3

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.0
torchmetrics==1.7.2
torchvision

# optional
wandb
ruff

# if using hf datasets and checkpoints
datasets==3.6
huggingface_hub

